body {
  margin: 0 auto;
}
body .main {
  width: 100vw;
  height: 100vh;
  background: #000b2d;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(45%, #000b2d), color-stop(45%, #000b2d), color-stop(77%, #002d7c), to(#5d75aa));
  background: linear-gradient(to bottom, #000b2d 45%, #000b2d 45%, #002d7c 77%, #5d75aa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000b2d', endColorstr='#5d75aa', GradientType=0);
  position: relative;
  overflow: hidden;
}
body .main .main-box {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/fon.jpg);
  background-size: cover;
}
body .main .main-box .star-1 {
  width: 3px;
  height: 3px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 10%;
  left: 20%;
}
body .main .main-box .star-2 {
  width: 2px;
  height: 2px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 15%;
  left: 55%;
}
body .main .main-box .star-3 {
  width: 2px;
  height: 2px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 35%;
  left: 25%;
}
body .main .main-box .star-4 {
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 7%;
  left: 15%;
}
body .main .main-box .star-5 {
  width: 2px;
  height: 2px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 15%;
  left: 63%;
}
body .main .main-box .star-6 {
  width: 3px;
  height: 3px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 5%;
  left: 75%;
}
body .main .main-box .star-7 {
  width: 4px;
  height: 4px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 5%;
  left: 75%;
}
body .main .main-box .star-8 {
  width: 2px;
  height: 2px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 5%;
  left: 75%;
}
body .main .main-box .star-9 {
  width: 3px;
  height: 3px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 5%;
  left: 75%;
}
body .main .main-box .star-10 {
  width: 7px;
  height: 7px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 38%;
  left: 80%;
}
body .main .main-box .star-11 {
  width: 3px;
  height: 3px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 89%;
  left: 89%;
}
body .main .main-box .star-12 {
  width: 2px;
  height: 2px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 7%;
  left: 69%;
}
body .main .main-box .star-13 {
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 16%;
  left: 46%;
}
body .main .main-box .star-14 {
  width: 4px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 18%;
  left: 55%;
}
body .main .main-box .star-15 {
  width: 3px;
  height: 3px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 45%;
}
body .main .main-box .planet {
  width: 900px;
  height: 900px;
  background-image: url(../img/planet.png);
  background-size: cover;
  position: absolute;
  top: 35%;
  left: 10%;
  z-index: 11;
}
body .main .main-box .forest {
  width: 100vw;
  height: 50vh;
  background-image: url(../img/forest.png);
  background-size: cover;
  position: absolute;
  bottom: 0;
  z-index: 12;
}
body .main .main-box .galaxy {
  width: 50vw;
  height: 50vh;
  background-image: url(../img/galaxy.png);
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
}
body .main .main-box .comet {
  margin-left: -10%;
}
body .main .main-box .starship {
  width: 3px;
  height: 3px;
  background-color: #fff;
  border-radius: 50%;
}
.autor_link {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: block;
  width: 70px;
  height: 70px;
  text-decoration: none;
  background-color: #ffba09;
  opacity: 0.3;
  border-radius: 50%;
  font-family: Arial sans-serif;
  font-weight: bolder;
  text-align: center;
  color: #fff;
  font-size: 48px;
  line-height: 63px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 100;
}
.autor_link:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-box-shadow: 0 0 24px rgba(255, 186, 9, 0.6);
          box-shadow: 0 0 24px rgba(255, 186, 9, 0.6);
  opacity: 1;
}
